<!DOCTYPE html>


<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Profiles</title>
</head>
<body>

    <h1>All People</h1>


    <ul>
    {% for person in people %}
        <li>
            <button 
                hx-get="/{{ person.name }}" 
                hx-target="#profile" 
                hx-swap="innerHTML">
                {{ person.name }}
            </button>
        </li>
    {% endfor %}
    </ul>

    <div id="profile">
        <p>Select a user to see profile</p>
    </div>
</body>
</html>